.gallery {
    background: url(../images/gray-bg.png);
    background-repeat: round;
    background-size: cover;
    overflow: hidden;

    &-heading {
        font-weight: 400;
        font-size: 4rem;
        padding: 75px 0 0 0;
        text-align: center;

        margin: 0;
    }
}

@media screen and (max-width: 830px) {
  .gallery-heading {
    padding: 35px 0 0 0;
  }  
}