/* HEADER slider
*****************************************************************/

 #carousel, .carousel{
    width: 100%;
}
.simg {
	width: 100%;
}

#carousel .carousel-indicators {
    z-index: 5;
}

/*EO HEADER slider
*****************************************************************/

/* FEEDBACKS slider
*****************************************************************/

 #carousel, .carousel2 {
    // position: absolute;
    width: 100%;
    // top: 0px;
}

#carousel .carousel-indicators {
    z-index: 5;
}

/*EO FEEDBACKS slider
*****************************************************************/