//
// Font stacks
main-ff= 'Verdana', 'sans pro', 'serif'
secondary-ff= 'Calibri', 'sans pro', 'serif'

//
// Colors
white= #ffffff

gray-light= #c3c3bf
gray-light2= #d9d9d9
gray= #908888
gray-dark= #474747
gray-dark2= #aeaea7

main-black= #1c1c1f

blue= #4d85c7
light-blue= #e6f4ef

pink= #b75872

yello= #fda50f
yello-light= #e7ae4d
yello-dark= #daa750

